/* sancreek-regular - latin */
/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
/* @font-face {
  font-display: swap; 
  font-family: 'Sancreek';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sancreek-v27-latin-regular.woff2') format('woff2'); 
} */


/* figtree-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/figtree-v9-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}